@import '../../styles/global.css';

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 16px;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-secondary-bg);
}

.card-infos {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.card-infos h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.card-infos p {
  font-size: 14px;
  color: var(--color-text-primary);
  word-break: break-all;
}

.card-buttons {
  display: flex;
  align-items: center;
  min-width: fit-content;
  gap: 8px;
}
